In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import scipy
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_excel(r'C:\Users\achauhan\Desktop\Radian\Data\Standard Upload_RedwoodFlow_20180619.xlsx')

In [33]:
df_imp=df[['Address City','Address State','Address Zip','Loan Type',
         'Amortization Type','Original Principal Balance',
         'Note Date','Combined Loan Amount','Note Rate','Note P&I','Note Term',
         'Occupancy', 'Loan Purpose','Property Type','Year Built','Occupancy Status',
         'LTV', 'Title Status', 'Other Liens', 'Property Tax Amount','Borrower 1 Years On Job',
         'Borrower 1 Years In Field','Borrower 1 Self Employed','Borrower 1 First Time Home Buyer',
         'Borrower 1 Equifax Credit Score', 'Borrower 1 Experian Credit Score',
         'Borrower 1 Transunion Credit Score','Borrower 1 Total Income','Borrower 2 Total Income',
         'Representative Credit Score','Total Monthly Income',
         'Total Remaining Gross Monthly Income', 'Total Monthly Expenses',
         'Primary Residence Expense','Total Assets','Location','Final_Overall_Grade']]

In [34]:
df_fg=df['Final_Overall_Grade']

In [30]:
df_imp.to_csv(r'C:\Users\achauhan\Desktop\Radian\Data\imp_vars3.csv')

In [35]:
df_imp.head()

,Address City,Address State,Address Zip,Loan Type,Amortization Type,Original Principal Balance,Note Date,Combined Loan Amount,Note Rate,Note P&I,...,Borrower 1 Total Income,Borrower 2 Total Income,Representative Credit Score,Total Monthly Income,Total Remaining Gross Monthly Income,Total Monthly Expenses,Primary Residence Expense,Total Assets,Location,Final_Overall_Grade
0,CLARKLAKE,MI,49234,Conventional,Fixed,1265000.00,01/20/2017,1265000.0,4.8750,6694.48,...,30457.46,0.00,709,35450.08,23633.32,11816.76,9054.76,496713.06,Suburban,2
1,ROGERS,MN,55374,Conventional,Fixed,815750.00,04/06/2017,815750.0,4.0000,3894.52,...,20308.57,3863.61,803,24172.18,16225.19,7946.99,5297.33,476099.06,Rural,2
2,Brooklyn,NY,11215,Conventional,Fixed,800000.00,01/19/2017,800000.0,5.3750,4479.77,...,12807.25,0.00,769,12807.25,7411.64,5395.61,0.00,60883.76,Urban,1
3,Brooklyn,NY,11215,Conventional,Fixed,800000.00,01/19/2017,800000.0,5.3750,4479.77,...,12807.25,0.00,769,12807.25,7411.64,5395.61,0.00,60883.76,Urban,1
4,Rockwall,TX,75087,Conventional,Fixed,650000.00,02/14/2017,650000.0,4.5000,3293.45,...,10500.00,9629.62,705,20129.62,12352.53,7777.09,5007.09,558574.23,Suburban,2

In [36]:
df_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Data columns (total 37 columns):
Address City                            12308 non-null object
Address State                           12308 non-null object
Address Zip                             12308 non-null int64
Loan Type                               12308 non-null object
Amortization Type                       12308 non-null object
Original Principal Balance              12308 non-null object
Note Date                               12308 non-null object
Combined Loan Amount                    12308 non-null float64
Note Rate                               12308 non-null object
Note P&I                                12308 non-null object
Note Term                               12308 non-null object
Occupancy                               12308 non-null object
Loan Purpose                            12308 non-null object
Property Type                           12308 non-null object
Year Built                              12308 non-null object
Occupancy Status                        12308 non-null object
LTV                                     12308 non-null object
Title Status                            12308 non-null object
Other Liens                             12308 non-null object
Property Tax Amount                     12308 non-null object
Borrower 1 Years On Job                 12308 non-null object
Borrower 1 Years In Field               12308 non-null object
Borrower 1 Self Employed                12308 non-null object
Borrower 1 First Time Home Buyer        12308 non-null object
Borrower 1 Equifax Credit Score         12308 non-null object
Borrower 1 Experian Credit Score        12308 non-null object
Borrower 1 Transunion Credit Score      12308 non-null object
Borrower 1 Total Income                 12308 non-null object
Borrower 2 Total Income                 12308 non-null float64
Representative Credit Score             12308 non-null object
Total Monthly Income                    12308 non-null float64
Total Remaining Gross Monthly Income    12308 non-null float64
Total Monthly Expenses                  12308 non-null float64
Primary Residence Expense               12308 non-null float64
Total Assets                            12308 non-null object
Location                                12308 non-null object
Final_Overall_Grade                     12308 non-null object
dtypes: float64(6), int64(1), object(30)
memory usage: 3.5+ MB

In [37]:
df_imp.shape

(12308, 37)

In [38]:
df_imp1 = df_imp

In [39]:
df_imp1.shape

(12308, 37)

In [40]:
df[df.LTV != 'No Data']
df['LTV'].value_counts()

80.00        3596
75.00         757
(No Data)     597
90.00         552
70.00         527
60.00         242
65.00         238
85.00         144
50.00          62
66.67          37
62.50          25
55.00          23
58.82          21
61.54          20
79.99          16
57.14          15
55.56          15
69.23          15
63.64          15
71.43          15
76.92          15
58.33          13
45.45          12
68.00          12
40.00          11
69.93          11
89.90          10
64.29          10
64.52          10
68.75          10
             ...
74.39           1
39.81           1
48.05           1
40.51           1
46.35           1
34.59           1
42.02           1
64.06           1
67.53           1
56.16           1
54.27           1
32.73           1
18.04           1
49.95           1
84.62           1
61.10           1
59.59           1
72.77           1
74.42           1
45.99           1
73.14           1
67.38           1
30.93           1
47.83           1
65.54           1
69.48           1
55.13           1
28.75           1
53.40           1
51.70           1
Name: LTV, Length: 2927, dtype: int64

In [41]:
df.shape

(12308, 244)

In [42]:
df_imp=df_imp[(df_imp[['LTV','Original Principal Balance']] != 0).all(axis=1)]

In [43]:
df_imp.shape

(12308, 37)

In [44]:
df_imp1=df_imp1[(df_imp1[['LTV','Original Principal Balance']] != 0).all(axis=1)]

In [45]:
df_imp1.shape

(12308, 37)

In [46]:
columns=['Address City','Address State','Address Zip','Loan Type',
         'Amortization Type','Original Principal Balance',
         'Note Date','Combined Loan Amount','Note Rate','Note P&I','Note Term',
         'Occupancy', 'Loan Purpose','Property Type','Year Built','Occupancy Status',
         'LTV', 'Title Status', 'Other Liens', 'Property Tax Amount','Borrower 1 Years On Job',
         'Borrower 1 Years In Field','Borrower 1 Self Employed','Borrower 1 First Time Home Buyer',
         'Borrower 1 Equifax Credit Score', 'Borrower 1 Experian Credit Score',
         'Borrower 1 Transunion Credit Score','Borrower 1 Total Income','Borrower 2 Total Income',
         'Representative Credit Score','Total Monthly Income',
         'Total Remaining Gross Monthly Income', 'Total Monthly Expenses',
         'Primary Residence Expense','Total Assets','Location']

In [47]:
df_imp = df_imp.replace('No Data', pd.np.nan).dropna(axis=0, how='any', subset=columns)

In [48]:
df_imp.shape

(12308, 37)

In [49]:
df_imp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12308 entries, 0 to 12307
Data columns (total 37 columns):
Address City                            12308 non-null object
Address State                           12308 non-null object
Address Zip                             12308 non-null int64
Loan Type                               12308 non-null object
Amortization Type                       12308 non-null object
Original Principal Balance              12308 non-null object
Note Date                               12308 non-null object
Combined Loan Amount                    12308 non-null float64
Note Rate                               12308 non-null object
Note P&I                                12308 non-null object
Note Term                               12308 non-null object
Occupancy                               12308 non-null object
Loan Purpose                            12308 non-null object
Property Type                           12308 non-null object
Year Built                              12308 non-null object
Occupancy Status                        12308 non-null object
LTV                                     12308 non-null object
Title Status                            12308 non-null object
Other Liens                             12308 non-null object
Property Tax Amount                     12308 non-null object
Borrower 1 Years On Job                 12308 non-null object
Borrower 1 Years In Field               12308 non-null object
Borrower 1 Self Employed                12308 non-null object
Borrower 1 First Time Home Buyer        12308 non-null object
Borrower 1 Equifax Credit Score         12308 non-null object
Borrower 1 Experian Credit Score        12308 non-null object
Borrower 1 Transunion Credit Score      12308 non-null object
Borrower 1 Total Income                 12308 non-null object
Borrower 2 Total Income                 12308 non-null float64
Representative Credit Score             12308 non-null object
Total Monthly Income                    12308 non-null float64
Total Remaining Gross Monthly Income    12308 non-null float64
Total Monthly Expenses                  12308 non-null float64
Primary Residence Expense               12308 non-null float64
Total Assets                            12308 non-null object
Location                                12308 non-null object
Final_Overall_Grade                     12308 non-null object
dtypes: float64(6), int64(1), object(30)
memory usage: 3.6+ MB

In [50]:
df_imp.head()

,Address City,Address State,Address Zip,Loan Type,Amortization Type,Original Principal Balance,Note Date,Combined Loan Amount,Note Rate,Note P&I,...,Borrower 1 Total Income,Borrower 2 Total Income,Representative Credit Score,Total Monthly Income,Total Remaining Gross Monthly Income,Total Monthly Expenses,Primary Residence Expense,Total Assets,Location,Final_Overall_Grade
0,CLARKLAKE,MI,49234,Conventional,Fixed,1265000.00,01/20/2017,1265000.0,4.8750,6694.48,...,30457.46,0.00,709,35450.08,23633.32,11816.76,9054.76,496713.06,Suburban,2
1,ROGERS,MN,55374,Conventional,Fixed,815750.00,04/06/2017,815750.0,4.0000,3894.52,...,20308.57,3863.61,803,24172.18,16225.19,7946.99,5297.33,476099.06,Rural,2
2,Brooklyn,NY,11215,Conventional,Fixed,800000.00,01/19/2017,800000.0,5.3750,4479.77,...,12807.25,0.00,769,12807.25,7411.64,5395.61,0.00,60883.76,Urban,1
3,Brooklyn,NY,11215,Conventional,Fixed,800000.00,01/19/2017,800000.0,5.3750,4479.77,...,12807.25,0.00,769,12807.25,7411.64,5395.61,0.00,60883.76,Urban,1
4,Rockwall,TX,75087,Conventional,Fixed,650000.00,02/14/2017,650000.0,4.5000,3293.45,...,10500.00,9629.62,705,20129.62,12352.53,7777.09,5007.09,558574.23,Suburban,2

In [51]:
df_imp.head()

,Address City,Address State,Address Zip,Loan Type,Amortization Type,Original Principal Balance,Note Date,Combined Loan Amount,Note Rate,Note P&I,...,Borrower 1 Total Income,Borrower 2 Total Income,Representative Credit Score,Total Monthly Income,Total Remaining Gross Monthly Income,Total Monthly Expenses,Primary Residence Expense,Total Assets,Location,Final_Overall_Grade
0,CLARKLAKE,MI,49234,Conventional,Fixed,1265000.00,01/20/2017,1265000.0,4.8750,6694.48,...,30457.46,0.00,709,35450.08,23633.32,11816.76,9054.76,496713.06,Suburban,2
1,ROGERS,MN,55374,Conventional,Fixed,815750.00,04/06/2017,815750.0,4.0000,3894.52,...,20308.57,3863.61,803,24172.18,16225.19,7946.99,5297.33,476099.06,Rural,2
2,Brooklyn,NY,11215,Conventional,Fixed,800000.00,01/19/2017,800000.0,5.3750,4479.77,...,12807.25,0.00,769,12807.25,7411.64,5395.61,0.00,60883.76,Urban,1
3,Brooklyn,NY,11215,Conventional,Fixed,800000.00,01/19/2017,800000.0,5.3750,4479.77,...,12807.25,0.00,769,12807.25,7411.64,5395.61,0.00,60883.76,Urban,1
4,Rockwall,TX,75087,Conventional,Fixed,650000.00,02/14/2017,650000.0,4.5000,3293.45,...,10500.00,9629.62,705,20129.62,12352.53,7777.09,5007.09,558574.23,Suburban,2

In [52]:
df_imp['Amortization Type'].value_counts()

Fixed        10781
ARM            930
(No Data)      597
Name: Amortization Type, dtype: int64

In [53]:
df_final=pd.read_csv(r'C:\Users\achauhan\Desktop\Radian\Data\Imp_var1.csv')

In [54]:
df_final.shape

(11129, 37)

In [55]:
df_final.head()

,Unnamed: 0,Address City,Address State,Address Zip,Loan Type,Amortization Type,Original Principal Balance,Note Date,Combined Loan Amount,Note Rate,...,Borrower 1 Transunion Credit Score,Borrower 1 Total Income,Borrower 2 Total Income,Representative Credit Score,Total Monthly Income,Total Remaining Gross Monthly Income,Total Monthly Expenses,Primary Residence Expense,Total Assets,Location
0,0,CLARKLAKE,MI,49234,Conventional,Fixed,1265000.0,1/20/2017,1265000.0,4.875,...,723,30457.46,0.00,709,35450.08,23633.32,11816.76,9054.76,496713.06,Suburban
1,1,ROGERS,MN,55374,Conventional,Fixed,815750.0,4/6/2017,815750.0,4.000,...,804,20308.57,3863.61,803,24172.18,16225.19,7946.99,5297.33,476099.06,Rural
2,2,Brooklyn,NY,11215,Conventional,Fixed,800000.0,1/19/2017,800000.0,5.375,...,776,12807.25,0.00,769,12807.25,7411.64,5395.61,0.00,60883.76,Urban
3,3,Brooklyn,NY,11215,Conventional,Fixed,800000.0,1/19/2017,800000.0,5.375,...,776,12807.25,0.00,769,12807.25,7411.64,5395.61,0.00,60883.76,Urban
4,4,Rockwall,TX,75087,Conventional,Fixed,650000.0,2/14/2017,650000.0,4.500,...,740,10500,9629.62,705,20129.62,12352.53,7777.09,5007.09,558574.23,Suburban

In [56]:
df_final['Amortization Type'].value_counts()

Fixed    10203
ARM        926
Name: Amortization Type, dtype: int64

In [57]:
df_final['Original Principal Balance'].value_counts()

1000000.0    201
500000.0     175
600000.0     171
800000.0     120
750000.0     112
700000.0     112
900000.0     101
520000.0      86
680000.0      74
540000.0      72
720000.0      70
650000.0      69
560000.0      65
550000.0      61
840000.0      60
480000.0      60
760000.0      57
640000.0      56
620000.0      56
660000.0      54
525000.0      50
880000.0      44
780000.0      42
575000.0      42
636000.0      41
850000.0      41
580000.0      39
512000.0      39
675000.0      38
460000.0      38
            ...
447250.0       1
1151265.0      1
492300.0       1
1133600.0      1
665100.0       1
1038000.0      1
714350.0       1
488250.0       1
747250.0       1
910972.0       1
993000.0       1
561400.0       1
499920.0       1
950375.0       1
1132000.0      1
654691.0       1
467600.0       1
747200.0       1
845500.0       1
534200.0       1
1265000.0      1
496472.0       1
566955.0       1
534168.0       1
796300.0       1
1156000.0      1
714375.0       1
681600.0       1
525396.0       1
819200.0       1
Name: Original Principal Balance, Length: 3618, dtype: int64

In [58]:
for col in columns:
    print(df_final[col].value_counts())

Seattle                  308
Los Angeles              161
San Jose                 155
Dallas                   149
San Francisco            141
Austin                   118
Scottsdale               117
San Diego                116
Denver                   105
Portland                 105
Chicago                  104
Houston                   85
Atlanta                   84
Brooklyn                  66
Phoenix                   54
Las Vegas                 51
SEATTLE                   49
Oakland                   49
Washington                42
Virginia Beach            40
Kirkland                  40
Bellevue                  40
Arlington                 39
San Antonio               37
Littleton                 36
Parker                    33
Lafayette                 33
Frisco                    33
DALLAS                    32
Boulder                   32
                        ...
Montville                  1
Lincolnton                 1
SIGNAL HILL                1
Zachary                    1
Tabernash                  1
Stafford                   1
Grenada Hills              1
Okoboji                    1
Pullman                    1
Schwenksville              1
Montclair                  1
Hilton head Island         1
GOODRICH                   1
Annaplois                  1
Waterloo                   1
Lavallette                 1
Bergenfield                1
DANBURY                    1
PAPILLION                  1
MANDAN                     1
North Myrtle Beach         1
Trophy Club                1
Phliadelphia               1
Dorchester AKA Boston      1
Saint Louis Park           1
Queenstown                 1
FREEPORT                   1
SanJose                    1
WESTMONT                   1
White Stone                1
Name: Address City, Length: 2821, dtype: int64
CA    3438
WA    1016
TX     997
CO     673
FL     491
AZ     429
MA     369
IL     343
GA     325
OR     296
VA     276
NY     202
NC     181
MN     177
NJ     160
MD     151
SC     145
UT     139
TN     121
NV     114
MO     100
WI      89
PA      88
MI      78
MT      74
AL      55
ID      53
LA      47
DC      47
NM      43
HI      41
IN      38
DE      34
CT      33
AR      30
OH      28
SD      26
KY      26
WY      24
OK      24
KS      23
NH      23
ME      15
IA      13
RI      10
NE       8
VT       7
MS       4
ND       3
AK       2
Name: Address State, dtype: int64
85255    44
98112    36
80016    35
98040    31
95125    31
98033    31
78746    30
98103    30
75214    29
75034    29
85331    28
98115    27
98144    26
92130    26
94568    25
98199    25
98110    24
95124    24
75225    24
98004    24
90277    24
80108    24
85253    24
30306    23
30004    23
98117    23
75230    23
98052    23
98177    23
98119    23
         ..
30117     1
73104     1
95445     1
95629     1
60630     1
2556      1
48348     1
95461     1
21737     1
85234     1
77046     1
54521     1
48380     1
97540     1
46373     1
11566     1
70002     1
15668     1
30005     1
75063     1
85306     1
81212     1
30013     1
80918     1
75087     1
32084     1
85338     1
87401     1
44406     1
4106      1
Name: Address Zip, Length: 3281, dtype: int64
Conventional    11129
Name: Loan Type, dtype: int64
Fixed    10203
ARM        926
Name: Amortization Type, dtype: int64
1000000.0    201
500000.0     175
600000.0     171
800000.0     120
750000.0     112
700000.0     112
900000.0     101
520000.0      86
680000.0      74
540000.0      72
720000.0      70
650000.0      69
560000.0      65
550000.0      61
840000.0      60
480000.0      60
760000.0      57
640000.0      56
620000.0      56
660000.0      54
525000.0      50
880000.0      44
780000.0      42
575000.0      42
636000.0      41
850000.0      41
580000.0      39
512000.0      39
675000.0      38
460000.0      38
            ...
447250.0       1
1151265.0      1
492300.0       1
1133600.0      1
665100.0       1
1038000.0      1
714350.0       1
488250.0       1
747250.0       1
910972.0       1
993000.0       1
561400.0       1
499920.0       1
950375.0       1
1132000.0      1
654691.0       1
467600.0       1
747200.0       1
845500.0       1
534200.0       1
1265000.0      1
496472.0       1
566955.0       1
534168.0       1
796300.0       1
1156000.0      1
714375.0       1
681600.0       1
525396.0       1
819200.0       1
Name: Original Principal Balance, Length: 3618, dtype: int64
11/17/2017    68
12/15/2017    65
9/29/2017     62
12/22/2017    60
4/27/2018     59
12/8/2017     57
9/22/2017     56
6/30/2017     55
8/25/2017     55
10/27/2017    54
7/31/2017     54
10/30/2017    53
4/20/2018     53
10/19/2017    52
12/1/2017     52
10/20/2017    52
9/25/2017     51
10/26/2017    50
12/21/2017    48
5/31/2017     48
12/29/2017    48
7/27/2017     47
2/9/2018      47
10/24/2017    47
8/31/2017     47
4/30/2018     46
11/13/2017    46
1/26/2018     46
11/20/2017    46
8/11/2017     45
              ..
10/17/2013     1
7/26/2014      1
8/5/2016       1
6/12/2018      1
11/13/2015     1
9/27/2016      1
8/14/2015      1
10/13/2014     1
3/13/2014      1
11/14/2015     1
8/17/2015      1
5/24/2016      1
3/19/2015      1
4/19/2016      1
12/24/2014     1
10/27/2016     1
4/17/2016      1
8/7/2013       1
10/29/2014     1
1/2/2017       1
10/4/2016      1
11/12/2016     1
1/7/2015       1
7/27/2015      1
8/5/2014       1
4/8/2016       1
1/22/2016      1
11/11/2017     1
11/10/2016     1
4/21/2015      1
Name: Note Date, Length: 838, dtype: int64
1000000.0    197
500000.0     171
600000.0     170
800000.0     118
750000.0     111
700000.0     111
900000.0     101
520000.0      85
680000.0      73
540000.0      72
650000.0      69
720000.0      68
560000.0      64
550000.0      61
840000.0      60
480000.0      60
620000.0      55
640000.0      55
760000.0      54
660000.0      52
525000.0      49
880000.0      45
780000.0      43
850000.0      40
575000.0      39
580000.0      39
1100000.0     39
675000.0      38
512000.0      38
460000.0      38
            ...
1151265.0      1
492300.0       1
1133600.0      1
665100.0       1
1038000.0      1
845300.0       1
1068250.0      1
714350.0       1
1137500.0      1
488250.0       1
993000.0       1
561400.0       1
499920.0       1
950375.0       1
1132000.0      1
654691.0       1
467600.0       1
747200.0       1
534200.0       1
1265000.0      1
496472.0       1
566955.0       1
534168.0       1
796300.0       1
1156000.0      1
714375.0       1
681600.0       1
525396.0       1
910972.0       1
819200.0       1
Name: Combined Loan Amount, Length: 3711, dtype: int64
4.250    1353
3.875    1107
4.375    1076
4.125    1052
4.000    1006
4.500     916
3.750     599
4.625     597
4.875     482
4.750     478
5.250     273
3.625     273
5.000     262
5.125     223
5.375     211
3.500     196
5.500     146
3.990     142
3.375     120
5.625      96
5.750      81
3.250      77
5.875      70
3.125      32
6.000      26
3.000      22
6.125      19
3.950      19
6.250      18
6.375      13
4.150      11
3.650      11
2.875      11
3.700      10
4.050      10
4.200       9
3.900       8
6.500       7
4.990       7
4.100       7
3.850       7
3.800       6
3.550       5
4.490       5
4.300       5
6.625       3
6.750       3
3.600       3
4.650       2
6.875       2
4.350       2
2.990       2
2.625       2
3.450       1
4.400       1
3.400       1
4.950       1
3.558       1
3.975       1
Name: Note Rate, dtype: int64
2351.19     26
4992.85     24
2423.25     22
3761.90     21
2821.42     21
3291.66     20
4919.40     20
2459.70     20
5066.85     20
2558.09     20
2907.90     19
3634.87     19
2864.49     18
2387.08     17
4702.37     16
5292.08     16
3935.52     16
2951.64     15
3744.64     15
2315.58     14
2496.43     14
2326.32     14
4427.46     14
4846.50     13
2656.48     13
3040.11     13
3819.32     13
2995.71     13
2673.53     13
3056.54     13
            ..
6636.07      1
3097.50      1
2970.39      1
4387.14      1
6001.09      1
3425.70      1
5101.07      1
4180.16      1
3610.64      1
2245.53      1
1763.39      1
4252.07      1
10355.63     1
3375.33      1
2584.64      1
4787.27      1
2599.42      1
5291.95      1
3006.20      1
2578.93      1
3220.16      1
3068.59      1
5440.96      1
3429.51      1
2713.51      1
4583.29      1
2745.84      1
4961.01      1
7256.34      1
3776.00      1
Name: Note P&I, Length: 7817, dtype: int64
360    10803
180      260
240       48
300       13
120        3
358        1
348        1
Name: Note Term, dtype: int64
Primary        10077
Second Home      579
Investor         473
Name: Occupancy, dtype: int64
Purchase              7254
Rate and Term Refi    1942
Cashout Refi          1764
Construction/Perm      166
Streamline               2
Home Improvement         1
Name: Loan Purpose, dtype: int64
SFR                      6303
Detached PUD             3735
Low Rise Condo (1-4)      472
High Rise Condo (9+)      147
2 Family                  129
Mid Rise Condo  (5-8)      88
SFR-Attached               78
Attached PUD               71
Site Condo                 40
3 Family                   25
4 Family                   24
Rowhouse                    8
Cooperative                 6
Condotel                    3
Name: Property Type, dtype: int64
2017           1257
2016            429
2018            326
2005            304
2006            303
2007            256
2004            253
2003            221
2000            212
2001            199
2015            190
1999            185
2002            180
2014            167
2008            163
2013            151
1998            145
1990            144
1997            141
1995            130
1989            129
1994            122
1988            119
1978            118
1987            105
1996            101
1993            101
2012            100
1979             99
1985             98
               ...
1840              3
1812              2
Missing           2
1855              2
1876              2
1820              2
1834              1
1817              1
1791              1
1756              1
1878              1
1825              1
1760              1
1883              1
1842              1
1830              1
1765              1
1811              1
1868              1
1844              1
1865              1
2207              1
Unavailable       1
1882              1
1849              1
1893              1
1730              1
1853              1
1800              1
1836              1
Name: Year Built, Length: 172, dtype: int64
Owner                          7543
Vacant                         3183
Tenant                          399
Missing                           2
Occupied But Person Unknown       2
Name: Occupancy Status, dtype: int64
80.00    3485
75.00     695
90.00     547
70.00     487
60.00     227
65.00     214
85.00     140
50.00      57
66.67      32
62.50      24
61.54      20
58.82      20
55.00      16
79.99      16
55.56      15
76.92      15
71.43      15
57.14      15
63.64      14
69.23      14
58.33      12
68.00      12
69.93      11
73.33      10
64.52      10
89.90      10
45.45      10
64.29       9
69.96       9
52.63       9
         ...
70.40       1
55.80       1
69.50       1
25.65       1
73.14       1
45.89       1
49.02       1
44.53       1
60.67       1
75.13       1
52.13       1
64.65       1
44.71       1
76.88       1
50.01       1
89.31       1
36.56       1
63.92       1
45.52       1
35.40       1
39.53       1
45.07       1
79.49       1
60.35       1
48.89       1
61.67       1
48.61       1
61.48       1
51.56       1
64.67       1
Name: LTV, Length: 2822, dtype: int64
Present    11127
Missing        2
Name: Title Status, dtype: int64
No     10889
Yes      240
Name: Other Liens, dtype: int64
1354.17    22
1458.33    19
1250.00    15
1093.75    15
1562.50    14
1041.67    14
1406.25    13
1510.42    12
1145.83    11
885.42     11
1302.08    11
1119.79    10
989.58     10
1718.75    10
1197.92    10
833.33      9
0.00        9
1223.96     9
2500.00     8
864.58      8
781.25      8
937.50      8
916.67      8
859.38      8
1083.33     7
911.46      7
635.42      7
1104.17     7
1171.88     7
958.33      7
           ..
336.44      1
1361.28     1
2050.85     1
1086.60     1
483.16      1
592.84      1
1248.75     1
559.05      1
761.46      1
226.95      1
1141.54     1
994.34      1
799.28      1
452.36      1
3333.33     1
1658.33     1
512.24      1
1284.64     1
649.61      1
890.39      1
577.04      1
355.00      1
437.68      1
1092.11     1
339.50      1
1220.00     1
692.00      1
1877.00     1
498.08      1
620.88      1
Name: Property Tax Amount, Length: 9996, dtype: int64
0.00     479
0.08     262
10.00    260
3.00     202
5.00     202
2.00     197
6.00     187
4.00     178
8.00     162
12.00    151
15.00    146
7.00     140
11.00    139
20.00    131
0.17     128
1.00     121
9.00     120
17.00    115
13.00    112
0.25     110
0.50     107
14.00    104
0.33      99
0.75      97
16.00     95
2.50      87
0.58      87
1.25      85
18.00     84
0.42      76
        ...
28.42      1
40.25      1
38.33      1
39.83      1
40.75      1
39.50      1
37.75      1
46.08      1
49.17      1
37.17      1
50.00      1
30.83      1
38.58      1
38.17      1
32.58      1
37.33      1
36.17      1
51.33      1
32.75      1
38.25      1
52.00      1
41.50      1
29.42      1
39.17      1
46.33      1
25.58      1
38.75      1
29.17      1
35.50      1
32.67      1
Name: Borrower 1 Years On Job, Length: 467, dtype: int64
10.00    959
20.00    831
15.00    658
0.00     574
12.00    439
5.00     427
25.00    404
30.00    393
17.00    332
11.00    316
8.00     305
6.00     300
7.00     289
16.00    276
18.00    271
13.00    271
4.00     256
9.00     249
14.00    230
3.00     229
2.00     201
22.00    187
21.00    179
19.00    176
23.00    139
24.00    138
27.00    127
35.00    127
26.00    119
28.00    114
        ...
31.42      1
43.33      1
41.25      1
29.25      1
8.75       1
31.25      1
36.67      1
38.83      1
36.25      1
11.25      1
16.83      1
28.08      1
27.58      1
18.33      1
30.67      1
24.42      1
4.83       1
38.75      1
19.50      1
25.17      1
37.42      1
25.08      1
26.50      1
36.92      1
27.42      1
26.25      1
1.17       1
24.50      1
20.50      1
35.92      1
Name: Borrower 1 Years In Field, Length: 365, dtype: int64
No                7761
Yes               3359
Not Applicable       9
Name: Borrower 1 Self Employed, dtype: int64
No                10071
Yes                1057
Not Applicable        1
Name: Borrower 1 First Time Home Buyer, dtype: int64
802    213
791    206
801    206
796    202
790    201
788    200
789    187
799    185
785    169
795    167
787    163
777    160
782    160
781    158
806    155
794    154
778    153
786    149
804    147
800    147
798    145
797    143
784    142
792    141
783    140
774    138
813    138
809    134
803    133
793    132
      ...
649      2
632      2
640      2
660      2
631      2
822      2
644      2
819      2
658      2
650      2
637      2
648      1
831      1
596      1
530      1
594      1
618      1
634      1
643      1
620      1
636      1
652      1
605      1
645      1
821      1
590      1
638      1
639      1
647      1
616      1
Name: Borrower 1 Equifax Credit Score, Length: 197, dtype: int64
787            246
790            194
793            178
776            173
796            170
797            164
804            164
798            162
770            161
779            157
803            153
780            149
777            144
773            141
766            141
784            140
785            132
778            132
794            130
791            126
783            124
801            123
786            121
759            120
788            119
763            119
789            117
782            116
774            114
781            113
              ...
648              3
669              3
656              3
626              2
844              2
842              2
660              2
646              2
654              2
630              2
644              2
625              1
612              1
624              1
628              1
647              1
641              1
582              1
627              1
618              1
615              1
638              1
649              1
Unavailable      1
640              1
631              1
645              1
635              1
620              1
636              1
Name: Borrower 1 Experian Credit Score, Length: 217, dtype: int64
801    205
797    202
800    191
808    188
786    179
798    175
775    165
779    164
781    164
792    161
790    157
783    155
793    150
784    150
776    147
770    143
782    143
787    143
780    142
789    141
771    140
777    139
791    138
774    137
788    137
796    136
812    135
778    133
769    132
772    130
      ...
658      3
649      2
827      2
830      2
642      2
656      2
653      2
637      2
629      2
640      1
839      1
835      1
832      1
657      1
647      1
631      1
654      1
614      1
645      1
613      1
828      1
628      1
604      1
643      1
635      1
627      1
650      1
634      1
610      1
576      1
Name: Borrower 1 Transunion Credit Score, Length: 201, dtype: int64
0           152
12500        71
15000        42
25000        40
10000        35
20000        30
16666.67     26
14583.33     25
18750        25
11250        22
17500        22
20833.34     21
13333.33     21
20833.33     19
14166.66     19
16250        19
10833.33     18
13750        18
13333.34     18
11666.66     17
14166.67     16
29166.67     15
15833.33     15
10833.34     15
7500         14
21666.67     14
6250         14
14583.34     13
16666.66     13
8333.33      12
           ...
10423.28      1
15738.95      1
40497.44      1
22447.83      1
14524.42      1
15962.66      1
11966.24      1
41967.02      1
16985.5       1
36112.51      1
13621.25      1
37301         1
40844.8       1
22839.24      1
13519.91      1
30539.59      1
12083.35      1
9785          1
34556.14      1
43052.79      1
11721.67      1
17112.08      1
24820.94      1
19413         1
41666         1
12539.85      1
14670.04      1
14496         1
10916.68      1
20439.33      1
Name: Borrower 1 Total Income, Length: 9675, dtype: int64
0.00        6391
5000.00       26
12500.00      25
0.01          17
10000.00      17
7500.00       16
8333.33       13
6500.00       13
2500.00       11
11250.00      11
4333.33       10
5416.67       10
8333.34       10
9166.67        9
10416.67       9
6250.00        8
8750.00        8
11666.67       7
6000.00        7
6666.66        7
7083.34        7
7083.33        7
10416.66       7
5833.34        7
15000.00       6
3000.00        6
17500.00       6
3466.67        6
9999.99        6
9583.34        6
            ...
10666.93       1
4483.00        1
17602.50       1
43833.33       1
9990.34        1
4062.00        1
16718.00       1
17500.01       1
16118.42       1
8545.04        1
12670.84       1
12408.16       1
5834.00        1
1480.60        1
5883.46        1
21212.12       1
21144.94       1
6859.88        1
6313.22        1
11373.56       1
2284.00        1
9275.97        1
5852.99        1
11683.33       1
10575.97       1
16285.96       1
13592.82       1
9643.72        1
6043.33        1
8199.64        1
Name: Borrower 2 Total Income, Length: 4234, dtype: int64
776    196
787    188
779    181
791    180
773    178
790    177
782    170
777    168
788    166
770    159
778    158
783    155
781    154
801    153
784    152
786    150
774    150
792    150
798    149
766    148
763    146
797    146
789    145
796    143
780    142
785    141
771    141
775    138
800    136
772    135
      ...
699     13
695     12
819     12
672     12
676     11
674     11
670     11
673     11
668     10
675     10
669      9
671      9
664      8
679      8
820      7
665      7
662      6
823      6
678      6
666      5
667      5
677      5