In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import scipy
from sklearn.model_selection import train_test_split

In [57]:
df1=pd.ExcelFile(r'C:\Users\achauhan\Desktop\Radian\Data\Standard Upload_RedwoodFlow_20180619.xlsx')

In [58]:
df=df1.parse()

In [4]:
copy_df = df.select_dtypes(include=['object']).copy()
copy_df.info()
copy_df.head(10)
copy_df1=copy_df
copy_df1= copy_df1.fillna(copy_df1['Final Compliance Grade'].value_counts().index[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Columns: 221 entries, Loan Status to Final Compliance Grade
dtypes: object(221)
memory usage: 20.8+ MB

In [5]:
print(copy_df1.isnull().values.sum())

0

In [6]:
print(copy_df1['Final Compliance Grade'].value_counts())
print(copy_df1['Final Property Valuations Grade'].value_counts())

1     8084
2     3823
3D     183
3      182
3C      36
Name: Final Compliance Grade, dtype: int64
1     10704
3D     1205
2       293
3        56
3C       50
Name: Final Property Valuations Grade, dtype: int64

In [7]:
Note_Status=copy_df[['Note Status', 'Final_Overall_Grade']]

In [8]:
#sns.set()
#_ = plt.hist(Note_Status['Note Status'])
#_ = plt.xlabel('Final_Overall_Grade')
#_ = plt.ylabel('Number')
#plt.show()

In [9]:
Note_Status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Data columns (total 2 columns):
Note Status            12308 non-null object
Final_Overall_Grade    12308 non-null object
dtypes: object(2)
memory usage: 192.4+ KB

In [10]:
print(Note_Status.groupby(Note_Status['Note Status']))

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000000011F92D68>

In [11]:
Note_Status.groupby('Note Status')['Final_Overall_Grade'].sum()

Note Status
(No Data)     3C2111113D33D1313C113D111121111132131111111111...
Incomplete                                                   12
Present       22112222233D3D122213D1113D3D21132213D121222211...
Name: Final_Overall_Grade, dtype: object

In [12]:
note_status_groupby=Note_Status.groupby('Note Status').count()
note_status_groupby.head()

             Final_Overall_Grade
Note Status
(No Data)                    597
Incomplete                     2
Present                    11709

In [1]:
train_test_split=df.copy()
train, test = train_test_split(df, test_size=0.2)

In [ ]:
'''def get_split(dataset, n_features):
	class_values = list(set(row[-1] for row in dataset))
	b_index, b_value, b_score, b_groups = 999, 999, 999, None
	features = list()
	while len(features) < n_features:
		index = randrange(len(dataset[0])-1)
		if index not in features:
			features.append(index)
	for index in features:
		for row in dataset:
			groups = test_split(index, row[index], dataset)
			gini = gini_index(groups, class_values)
			if gini < b_score:
				b_index, b_value, b_score, b_groups = index, row[index], gini, groups
	return {'index':b_index, 'value':b_value, 'groups':b_groups}'''

In [ ]:
'''
# Random Forest Algorithm on Sonar Dataset
from random import seed
from random import randrange
from csv import reader
from math import sqrt

# Load a CSV file
def load_csv(filename):
	dataset = list()
	with open(filename, 'r') as file:
		csv_reader = reader(file)
		for row in csv_reader:
			if not row:
				continue
			dataset.append(row)
	return dataset

# Convert string column to float
def str_column_to_float(dataset, column):
	for row in dataset:
		row[column] = float(row[column].strip())

# Convert string column to integer
def str_column_to_int(dataset, column):
	class_values = [row[column] for row in dataset]
	unique = set(class_values)
	lookup = dict()
	for i, value in enumerate(unique):
		lookup[value] = i
	for row in dataset:
		row[column] = lookup[row[column]]
	return lookup

# Split a dataset into k folds
def cross_validation_split(dataset, n_folds):
	dataset_split = list()
	dataset_copy = list(dataset)
	fold_size = int(len(dataset) / n_folds)
	for i in range(n_folds):
		fold = list()
		while len(fold) < fold_size:
			index = randrange(len(dataset_copy))
			fold.append(dataset_copy.pop(index))
		dataset_split.append(fold)
	return dataset_split

# Calculate accuracy percentage
def accuracy_metric(actual, predicted):
	correct = 0
	for i in range(len(actual)):
		if actual[i] == predicted[i]:
			correct += 1
	return correct / float(len(actual)) * 100.0

# Evaluate an algorithm using a cross validation split
def evaluate_algorithm(dataset, algorithm, n_folds, *args):
	folds = cross_validation_split(dataset, n_folds)
	scores = list()
	for fold in folds:
		train_set = list(folds)
		train_set.remove(fold)
		train_set = sum(train_set, [])
		test_set = list()
		for row in fold:
			row_copy = list(row)
			test_set.append(row_copy)
			row_copy[-1] = None
		predicted = algorithm(train_set, test_set, *args)
		actual = [row[-1] for row in fold]
		accuracy = accuracy_metric(actual, predicted)
		scores.append(accuracy)
	return scores

# Split a dataset based on an attribute and an attribute value
def test_split(index, value, dataset):
	left, right = list(), list()
	for row in dataset:
		if row[index] < value:
			left.append(row)
		else:
			right.append(row)
	return left, right

# Calculate the Gini index for a split dataset
def gini_index(groups, classes):
	# count all samples at split point
	n_instances = float(sum([len(group) for group in groups]))
	# sum weighted Gini index for each group
	gini = 0.0
	for group in groups:
		size = float(len(group))
		# avoid divide by zero
		if size == 0:
			continue
		score = 0.0
		# score the group based on the score for each class
		for class_val in classes:
			p = [row[-1] for row in group].count(class_val) / size
			score += p * p
		# weight the group score by its relative size
		gini += (1.0 - score) * (size / n_instances)
	return gini

# Select the best split point for a dataset
def get_split(dataset, n_features):
	class_values = list(set(row[-1] for row in dataset))
	b_index, b_value, b_score, b_groups = 999, 999, 999, None
	features = list()
	while len(features) < n_features:
		index = randrange(len(dataset[0])-1)
		if index not in features:
			features.append(index)
	for index in features:
		for row in dataset:
			groups = test_split(index, row[index], dataset)
			gini = gini_index(groups, class_values)
			if gini < b_score:
				b_index, b_value, b_score, b_groups = index, row[index], gini, groups
	return {'index':b_index, 'value':b_value, 'groups':b_groups}

# Create a terminal node value
def to_terminal(group):
	outcomes = [row[-1] for row in group]
	return max(set(outcomes), key=outcomes.count)

# Create child splits for a node or make terminal
def split(node, max_depth, min_size, n_features, depth):
	left, right = node['groups']
	del(node['groups'])
	# check for a no split
	if not left or not right:
		node['left'] = node['right'] = to_terminal(left + right)
		return
	# check for max depth
	if depth >= max_depth:
		node['left'], node['right'] = to_terminal(left), to_terminal(right)
		return
	# process left child
	if len(left) <= min_size:
		node['left'] = to_terminal(left)
	else:
		node['left'] = get_split(left, n_features)
		split(node['left'], max_depth, min_size, n_features, depth+1)
	# process right child
	if len(right) <= min_size:
		node['right'] = to_terminal(right)
	else:
		node['right'] = get_split(right, n_features)
		split(node['right'], max_depth, min_size, n_features, depth+1)

# Build a decision tree
def build_tree(train, max_depth, min_size, n_features):
	root = get_split(train, n_features)
	split(root, max_depth, min_size, n_features, 1)
	return root

# Make a prediction with a decision tree
def predict(node, row):
	if row[node['index']] < node['value']:
		if isinstance(node['left'], dict):
			return predict(node['left'], row)
		else:
			return node['left']
	else:
		if isinstance(node['right'], dict):
			return predict(node['right'], row)
		else:
			return node['right']

# Create a random subsample from the dataset with replacement
def subsample(dataset, ratio):
	sample = list()
	n_sample = round(len(dataset) * ratio)
	while len(sample) < n_sample:
		index = randrange(len(dataset))
		sample.append(dataset[index])
	return sample

# Make a prediction with a list of bagged trees
def bagging_predict(trees, row):
	predictions = [predict(tree, row) for tree in trees]
	return max(set(predictions), key=predictions.count)

# Random Forest Algorithm
def random_forest(train, test, max_depth, min_size, sample_size, n_trees, n_features):
	trees = list()
	for i in range(n_trees):
		sample = subsample(train, sample_size)
		tree = build_tree(sample, max_depth, min_size, n_features)
		trees.append(tree)
	predictions = [bagging_predict(trees, row) for row in test]
	return(predictions)

# Test the random forest algorithm
seed(2)
# load and prepare data
filename = 'sonar.all-data.csv'
dataset = load_csv(filename)
# convert string attributes to integers
for i in range(0, len(dataset[0])-1):
	str_column_to_float(dataset, i)
# convert class column to integers
str_column_to_int(dataset, len(dataset[0])-1)
# evaluate algorithm
n_folds = 5
max_depth = 10
min_size = 1
sample_size = 1.0
n_features = int(sqrt(len(dataset[0])-1))
for n_trees in [1, 5, 10]:
	scores = evaluate_algorithm(dataset, random_forest, n_folds, max_depth, min_size, sample_size, n_trees, n_features)
	print('Trees: %d' % n_trees)
	print('Scores: %s' % scores)
	print('Mean Accuracy: %.3f%%' % (sum(scores)/float(len(scores))))

# Random Forest Algorithm on Sonar Dataset
from random import seed
from random import randrange
from csv import reader
from math import sqrt
 
# Load a CSV file
def load_csv(filename):
	dataset = list()
	with open(filename, 'r') as file:
		csv_reader = reader(file)
		for row in csv_reader:
			if not row:
				continue
			dataset.append(row)
	return dataset
 
# Convert string column to float
def str_column_to_float(dataset, column):
	for row in dataset:
		row[column] = float(row[column].strip())
 
# Convert string column to integer
def str_column_to_int(dataset, column):
	class_values = [row[column] for row in dataset]
	unique = set(class_values)
	lookup = dict()
	for i, value in enumerate(unique):
		lookup[value] = i
	for row in dataset:
		row[column] = lookup[row[column]]
	return lookup
 
# Split a dataset into k folds
def cross_validation_split(dataset, n_folds):
	dataset_split = list()
	dataset_copy = list(dataset)
	fold_size = int(len(dataset) / n_folds)
	for i in range(n_folds):
		fold = list()
		while len(fold) < fold_size:
			index = randrange(len(dataset_copy))
			fold.append(dataset_copy.pop(index))
		dataset_split.append(fold)
	return dataset_split
 
# Calculate accuracy percentage
def accuracy_metric(actual, predicted):
	correct = 0
	for i in range(len(actual)):
		if actual[i] == predicted[i]:
			correct += 1
	return correct / float(len(actual)) * 100.0
 
# Evaluate an algorithm using a cross validation split
def evaluate_algorithm(dataset, algorithm, n_folds, *args):
	folds = cross_validation_split(dataset, n_folds)
	scores = list()
	for fold in folds:
		train_set = list(folds)
		train_set.remove(fold)
		train_set = sum(train_set, [])
		test_set = list()
		for row in fold:
			row_copy = list(row)
			test_set.append(row_copy)
			row_copy[-1] = None
		predicted = algorithm(train_set, test_set, *args)
		actual = [row[-1] for row in fold]
		accuracy = accuracy_metric(actual, predicted)
		scores.append(accuracy)
	return scores
 
# Split a dataset based on an attribute and an attribute value
def test_split(index, value, dataset):
	left, right = list(), list()
	for row in dataset:
		if row[index] < value:
			left.append(row)
		else:
			right.append(row)
	return left, right
 
# Calculate the Gini index for a split dataset
def gini_index(groups, classes):
	# count all samples at split point
	n_instances = float(sum([len(group) for group in groups]))
	# sum weighted Gini index for each group
	gini = 0.0
	for group in groups:
		size = float(len(group))
		# avoid divide by zero
		if size == 0:
			continue
		score = 0.0
		# score the group based on the score for each class
		for class_val in classes:
			p = [row[-1] for row in group].count(class_val) / size
			score += p * p
		# weight the group score by its relative size
		gini += (1.0 - score) * (size / n_instances)
	return gini
 
# Select the best split point for a dataset
def get_split(dataset, n_features):
	class_values = list(set(row[-1] for row in dataset))
	b_index, b_value, b_score, b_groups = 999, 999, 999, None
	features = list()
	while len(features) < n_features:
		index = randrange(len(dataset[0])-1)
		if index not in features:
			features.append(index)
	for index in features:
		for row in dataset:
			groups = test_split(index, row[index], dataset)
			gini = gini_index(groups, class_values)
			if gini < b_score:
				b_index, b_value, b_score, b_groups = index, row[index], gini, groups
	return {'index':b_index, 'value':b_value, 'groups':b_groups}
 
# Create a terminal node value
def to_terminal(group):
	outcomes = [row[-1] for row in group]
	return max(set(outcomes), key=outcomes.count)
 
# Create child splits for a node or make terminal
def split(node, max_depth, min_size, n_features, depth):
	left, right = node['groups']
	del(node['groups'])
	# check for a no split
	if not left or not right:
		node['left'] = node['right'] = to_terminal(left + right)
		return
	# check for max depth
	if depth >= max_depth:
		node['left'], node['right'] = to_terminal(left), to_terminal(right)
		return
	# process left child
	if len(left) <= min_size:
		node['left'] = to_terminal(left)
	else:
		node['left'] = get_split(left, n_features)
		split(node['left'], max_depth, min_size, n_features, depth+1)
	# process right child
	if len(right) <= min_size:
		node['right'] = to_terminal(right)
	else:
		node['right'] = get_split(right, n_features)
		split(node['right'], max_depth, min_size, n_features, depth+1)
 
# Build a decision tree
def build_tree(train, max_depth, min_size, n_features):
	root = get_split(train, n_features)
	split(root, max_depth, min_size, n_features, 1)
	return root
 
# Make a prediction with a decision tree
def predict(node, row):
	if row[node['index']] < node['value']:
		if isinstance(node['left'], dict):
			return predict(node['left'], row)
		else:
			return node['left']
	else:
		if isinstance(node['right'], dict):
			return predict(node['right'], row)
		else:
			return node['right']
 
# Create a random subsample from the dataset with replacement
def subsample(dataset, ratio):
	sample = list()
	n_sample = round(len(dataset) * ratio)
	while len(sample) < n_sample:
		index = randrange(len(dataset))
		sample.append(dataset[index])
	return sample
 
# Make a prediction with a list of bagged trees
def bagging_predict(trees, row):
	predictions = [predict(tree, row) for tree in trees]
	return max(set(predictions), key=predictions.count)
 
# Random Forest Algorithm
def random_forest(train, test, max_depth, min_size, sample_size, n_trees, n_features):
	trees = list()
	for i in range(n_trees):
		sample = subsample(train, sample_size)
		tree = build_tree(sample, max_depth, min_size, n_features)
		trees.append(tree)
	predictions = [bagging_predict(trees, row) for row in test]
	return(predictions)
 
# Test the random forest algorithm
seed(2)
# load and prepare data
filename = 'sonar.all-data.csv'
dataset = load_csv(filename)
# convert string attributes to integers
for i in range(0, len(dataset[0])-1):
	str_column_to_float(dataset, i)
# convert class column to integers
str_column_to_int(dataset, len(dataset[0])-1)
# evaluate algorithm
n_folds = 5
max_depth = 10
min_size = 1
sample_size = 1.0
n_features = int(sqrt(len(dataset[0])-1))
for n_trees in [1, 5, 10]:
	scores = evaluate_algorithm(dataset, random_forest, n_folds, max_depth, min_size, sample_size, n_trees, n_features)
	print('Trees: %d' % n_trees)
	print('Scores: %s' % scores)
	print('Mean Accuracy: %.3f%%' % (sum(scores)/float(len(scores))))'''

In [2]:
df.head()

In [3]:
df.describe()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Columns: 244 entries, Loan Number to Final Compliance Grade
dtypes: float64(19), int64(4), object(221)
memory usage: 22.9+ MB

In [4]:
#X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.20, random_state=42)
df_imp.head()

In [59]:
df_imp=df[['Address City','Address State','Address Zip','Loan Type',
           'Product Type', 'Amortization Type', 'Original Principal Balance',
           'Note Date', 'Combined Loan Amount', 'Note Rate', 'Note P&I', 'Note Term',
           'Interest Only Period','Lender Name', 'Origination Channel', 'Loan Modified',
           'Occupancy','Loan Purpose', 'Cash To Borrower At Close','Property Type',
           'Year Built', 'Occupancy Status', 'LTV','Title Status', 'Other Liens',
           'Property Tax Amount','Borrower 1 Age', 'Borrower 1 Years On Job',
           'Borrower 1 Years In Field','Borrower 1 Self Employed', 'Borrower 1 First Time Home Buyer',
           'Borrower 1 Equifax Credit Score', 'Borrower 1 Experian Credit Score',
           'Borrower 1 Transunion Credit Score', 'Borrower 1 Total Income',
           'Borrower 2 Equifax Credit Score', 'Borrower 2 Experian Credit Score',
           'Borrower 2 Transunion Credit Score', 'Borrower 2 Total Income',
           'Representative Credit Score','Total Monthly Income',
           'Total Remaining Gross Monthly Income','Total Monthly Expenses',
           'Primary Residence Expense', 'Total Assets','Qualification Method',
          'Loan Doc Type','Final_Overall_Grade']]

In [60]:
df_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Data columns (total 48 columns):
Address City                            12308 non-null object
Address State                           12308 non-null object
Address Zip                             12308 non-null int64
Loan Type                               12308 non-null object
Product Type                            12308 non-null object
Amortization Type                       12308 non-null object
Original Principal Balance              12308 non-null object
Note Date                               12308 non-null object
Combined Loan Amount                    12308 non-null float64
Note Rate                               12308 non-null object
Note P&I                                12308 non-null object
Note Term                               12308 non-null object
Interest Only Period                    12308 non-null object
Lender Name                             12308 non-null object
Origination Channel                     12308 non-null object
Loan Modified                           12308 non-null object
Occupancy                               12308 non-null object
Loan Purpose                            12308 non-null object
Cash To Borrower At Close               12308 non-null object
Property Type                           12308 non-null object
Year Built                              12308 non-null object
Occupancy Status                        12308 non-null object
LTV                                     12308 non-null object
Title Status                            12308 non-null object
Other Liens                             12308 non-null object
Property Tax Amount                     12308 non-null object
Borrower 1 Age                          12308 non-null object
Borrower 1 Years On Job                 12308 non-null object
Borrower 1 Years In Field               12308 non-null object
Borrower 1 Self Employed                12308 non-null object
Borrower 1 First Time Home Buyer        12308 non-null object
Borrower 1 Equifax Credit Score         12308 non-null object
Borrower 1 Experian Credit Score        12308 non-null object
Borrower 1 Transunion Credit Score      12308 non-null object
Borrower 1 Total Income                 12308 non-null object
Borrower 2 Equifax Credit Score         12308 non-null object
Borrower 2 Experian Credit Score        12308 non-null object
Borrower 2 Transunion Credit Score      12308 non-null object
Borrower 2 Total Income                 12308 non-null float64
Representative Credit Score             12308 non-null object
Total Monthly Income                    12308 non-null float64
Total Remaining Gross Monthly Income    12308 non-null float64
Total Monthly Expenses                  12308 non-null float64
Primary Residence Expense               12308 non-null float64
Total Assets                            12308 non-null object
Qualification Method                    12308 non-null object
Loan Doc Type                           12308 non-null object
Final_Overall_Grade                     12308 non-null object
dtypes: float64(6), int64(1), object(41)
memory usage: 4.5+ MB

In [5]:
df_imp.info

In [6]:
df_imp.describe()

In [7]:
df_imp.groupby(df_imp['Address State']='No Data').count()

In [8]:
df_imp['Address State'].value_counts()

In [65]:
imp_city=df_imp['Address City'].value_counts()

In [70]:
imp_product=df_imp['Product Type'].value_counts()

In [71]:
imp_product

Jumbo 30yr Fixed             9543
(No Data)                    1093
Jumbo 7/1 ARM                 522
30 Yr Fixed                   432
Jumbo 15yr Fixed              226
Jumbo 5/1 ARM                 182
7/1 ARM                        77
Jumbo 10/1 ARM                 40
Jumbo 7/1 ARM IO               35
Fixed                          24
5/1 ARM                        21
20 Yr Fixed                    20
Jumbo 5/1 ARM IO               14
15 Yr Fixed                    13
7/1 I/O ARM                    12
Jumbo 30yr Fixed IO            11
10/1 ARM                        7
Jumbo 10/1 ARM IO               7
5/1 I/O ARM                     5
Jumbo Plus 7/1 ARM              5
30 yr Fixed - 10 yr IO          4
25 Yr Fixed                     4
10/1 I/O ARM                    2
Jumbo Plus 30yr Fixed           2
30/15 Interest Only             1
10/20 Interest Only             1
10/1 ARM 1 Year Libor I/O       1
10 Yr Fixed                     1
Fixed Rate                      1
30 Yr Fixed Interest Only       1
Lender                          1
Name: Product Type, dtype: int64

In [9]:
df_imp.dtypes

In [10]:
df_imp['Borrower 2 Equifax Credit Score'].value_counts()

In [11]:
df_imp['Origination Channel'].value_counts()

In [85]:
df_imp['Loan Modified'].value_counts()

No                11185
(No Data)          1093
Yes                  29
Not Applicable        1
Name: Loan Modified, dtype: int64

In [86]:
df_imp['Occupancy'].value_counts()

Primary        10544
Second Home      600
(No Data)        597
Investor         567
Name: Occupancy, dtype: int64

In [87]:
df_imp['Loan Purpose'].value_counts()

Purchase              7645
Rate and Term Refi    2034
Cashout Refi          1860
(No Data)              597
Construction/Perm      168
Home Improvement         2
Streamline               2
Name: Loan Purpose, dtype: int64

In [12]:
df_imp['Cash To Borrower At Close'].value_counts()

In [91]:
df_imp['Property Type'].value_counts()

SFR                      6966
Detached PUD             4004
Low Rise Condo (1-4)      571
High Rise Condo (9+)      175
2 Family                  166
Mid Rise Condo  (5-8)     113
SFR-Attached               86
Attached PUD               76
3 Family                   46
Site Condo                 41
4 Family                   36
Cooperative                15
Rowhouse                   10
Condotel                    3
Name: Property Type, dtype: int64

In [92]:
df_imp['Year Built'].value_counts()

2017           1334
(No Data)       541
2016            449
2018            366
2006            324
2005            320
2004            277
2007            270
2003            234
2000            222
2001            209
2015            204
1999            197
2002            192
2014            176
2008            168
2013            158
1990            156
1998            152
1997            148
1995            140
1989            132
1994            126
1988            125
1978            125
1987            119
1993            110
2012            109
1996            107
1979            107
               ...
1812              2
1878              2
1855              2
1820              2
Missing           2
1760              1
2207              1
1765              1
1868              1
1825              1
1834              1
1811              1
1800              1
1865              1
Unavailable       1
1842              1
1882              1
1849              1
1843              1
1853              1
1883              1
2107              1
1791              1
1770              1
1817              1
1756              1
1844              1
1730              1
1836              1
1830              1
Name: Year Built, Length: 176, dtype: int64

In [94]:
df_imp['LTV'].value_counts()

80.00        3596
75.00         757
(No Data)     597
90.00         552
70.00         527
60.00         242
65.00         238
85.00         144
50.00          62
66.67          37
62.50          25
55.00          23
58.82          21
61.54          20
79.99          16
76.92          15
69.23          15
63.64          15
71.43          15
55.56          15
57.14          15
58.33          13
68.00          12
45.45          12
40.00          11
69.93          11
73.33          10
64.29          10
89.90          10
68.75          10
             ...
66.82           1
57.61           1
57.10           1
55.27           1
56.08           1
63.05           1
40.97           1
65.63           1
53.78           1
40.35           1
63.32           1
61.41           1
56.51           1
88.75           1
25.53           1
52.10           1
73.34           1
49.02           1
60.47           1
77.33           1
81.36           1
25.13           1
48.12           1
64.14           1
86.47           1
45.86           1
69.50           1
67.39           1
66.26           1
36.62           1
Name: LTV, Length: 2927, dtype: int64

In [97]:
df_imp['Other Liens'].value_counts()

No           11417
(No Data)      597
Yes            294
Name: Other Liens, dtype: int64

In [99]:
df_imp['Borrower 1 Age'].value_counts()

(No Data)    1234
48            422
39            416
40            416
44            384
37            381
38            379
46            376
47            376
42            372
41            371
43            367
45            350
36            344
34            340
35            328
33            300
50            299
54            296
53            293
49            287
52            284
51            280
55            257
32            236
56            235
58            205
57            199
31            198
60            182
             ...
69             76
68             70
28             69
70             67
71             54
27             45
72             44
73             40
74             37
75             37
26             28
76             24
77             22
25             19
78             15
79             12
83             12
82              6
80              6
81              6
24              6
22              3
21              2
23              2
88              2
84              1
90              1
86              1
20              1
92              1
Name: Borrower 1 Age, Length: 70, dtype: int64

In [100]:
df_imp['Borrower 1 Years On Job'].value_counts()

(No Data)    597
0.00         486
10.00        289
0.08         264
3.00         227
2.00         227
5.00         217
6.00         202
4.00         197
8.00         173
12.00        162
15.00        159
7.00         157
11.00        147
20.00        136
1.00         135
9.00         129
0.17         129
13.00        124
17.00        120
0.50         112
0.25         110
14.00        108
16.00        103
0.33         100
0.75          97
2.50          91
18.00         89
0.58          88
1.25          85
            ...
13.01          1
15.30          1
38.58          1
18.70          1
23.67          1
0.06           1
12.11          1
5.30           1
3.40           1
0.07           1
35.08          1
46.33          1
37.17          1
27.10          1
29.42          1
6.40           1
38.33          1
30.83          1
4.90           1
2.11           1
39.83          1
28.70          1
0.82           1
39.17          1
37.08          1
38.17          1
7.60           1
1.30           1
9.70           1
6.70           1
Name: Borrower 1 Years On Job, Length: 554, dtype: int64

In [101]:
df_imp['Borrower 1 Years In Field'].value_counts()

10.00        1009
20.00         859
15.00         688
(No Data)     597
0.00          581
12.00         460
5.00          457
25.00         420
30.00         410
17.00         349
11.00         328
8.00          324
6.00          317
7.00          312
18.00         291
13.00         290
16.00         289
9.00          271
4.00          263
3.00          248
14.00         243
2.00          216
22.00         197
19.00         185
21.00         184
24.00         149
23.00         145
35.00         134
27.00         129
26.00         121
             ...
22.25           1
23.33           1
1.33            1
35.75           1
49.00           1
25.83           1
31.25           1
31.42           1
24.17           1
8.75            1
16.42           1
60.00           1
54.00           1
26.50           1
30.67           1
31.33           1
21.92           1
37.42           1
1.08            1
39.17           1
26.58           1
1.83            1
4.10            1
2.92            1
1.17            1
34.50           1
19.50           1
25.08           1
41.25           1
27.33           1
Name: Borrower 1 Years In Field, Length: 374, dtype: int64

In [102]:
df_imp['Borrower 2 Experian Credit Score'].value_counts()

(No Data)      5111
790             155
776             135
793             134
779             127
804             126
787             126
796             123
797             121
803             118
801             115
798             107
788             107
782             104
773              99
783              98
792              97
770              94
791              92
766              91
786              90
809              86
800              86
807              85
794              84
785              83
763              83
784              81
808              81
781              81
               ...
663               3
694               3
671               3
651               3
668               3
658               3
662               3
656               2
672               2
640               2
653               2
655               2
660               2
Unavailable       2
836               2
844               2
665               2
629               1
652               1
646               1
649               1
645               1
667               1
659               1
657               1
673               1
631               1
676               1
664               1
674               1
Name: Borrower 2 Experian Credit Score, Length: 198, dtype: int64

In [104]:
df_imp['Borrower 2 Total Income'].value_counts()

 0.00        7297
 5000.00       28
 12500.00      26
 10000.00      21
 7500.00       17
 0.01          17
 8333.33       14
 6500.00       14
 11250.00      13
 2500.00       12
 10416.67      11
 8333.34       11
 4333.33       10
 6250.00       10
 5416.67       10
 9166.67       10
 8750.00        8
 15000.00       8
 11666.67       8
 7083.34        7
 10416.66       7
 5833.34        7
 6666.66        7
 7083.33        7
 6000.00        7
 13333.34       6
 12083.33       6
 3466.67        6
 9000.00        6
 9999.99        6
             ...
 2234.07        1
 12177.46       1
 15125.37       1
 20529.05       1
 13086.12       1
 141.46         1
 1900.32        1
 11689.00       1
 9583.29        1
 11524.15       1
 36653.58       1
 8989.00        1
 4100.92        1
 12767.73       1
 6166.68        1
 12399.79       1
 8616.25        1
-674.00         1
 6484.00        1
 22550.30       1
 13499.98       1
 9416.58        1
 3341.00        1
 4483.00        1
 17602.50       1
 43833.33       1
 9990.34        1
 1263.00        1
 16718.00       1
 5110.55        1
Name: Borrower 2 Total Income, Length: 4440, dtype: int64

In [105]:
df_imp['Representative Credit Score'].value_counts()

(No Data)         597
776               207
787               194
791               192
790               187
779               186
773               185
782               185
777               176
788               174
801               170
778               168
770               165
781               163
797               161
792               160
783               160
784               159
786               159
798               158
763               157
774               156
789               154
796               154
766               152
780               151
775               148
785               147
800               147
771               145
                 ...
695                12
819                12
670                11
673                11
674                11
675                10
668                10
671                10
669                 9
679                 8
664                 8
820                 8
665                 7
678                 6
823                 6
662                 6
666                 5
677                 5
667                 5
661                 4
822                 2
824                 1
839                 1
827                 1
Unavailable         1
825                 1
829                 1
Not Applicable      1
821                 1
613                 1
Name: Representative Credit Score, Length: 172, dtype: int64

In [106]:
df_imp['Total Monthly Income'].value_counts()

0.00        598
12500.00     41
25000.00     34
15000.00     31
20000.00     31
18750.00     26
16666.67     19
17500.00     18
20833.34     17
20833.33     17
13333.33     17
14166.67     16
10000.00     16
16250.00     15
13333.34     15
13750.00     15
21666.67     14
14583.33     14
29166.67     14
16666.66     11
14166.66     11
20833.00     10
15833.33     10
22500.00     10
13000.00      9
14583.34      9
11250.00      9
19166.67      9
31250.00      9
26250.00      8
           ...
25307.30      1
23642.22      1
23401.39      1
10099.28      1
13625.00      1
8705.83       1
29407.33      1
11093.33      1
23376.00      1
27127.46      1
8250.37       1
34891.46      1
31521.17      1
18326.29      1
23575.00      1
13684.67      1
16143.00      1
13833.59      1
11505.30      1
9590.41       1
31994.06      1
77899.33      1
17906.99      1
11944.07      1
16448.51      1
15931.60      1
17978.00      1
14256.66      1
15857.05      1
21826.73      1
Name: Total Monthly Income, Length: 10817, dtype: int64

In [107]:
df_imp['Total Remaining Gross Monthly Income'].value_counts()

0.00        597
9947.60       3
12362.51      2
10679.65      2
15322.87      2
11187.14      2
10974.50      2
4651.57       2
16125.18      2
9887.97       2
11613.90      2
15373.19      2
6539.54       2
18282.84      2
17319.52      2
19640.31      2
24663.64      2
10337.02      2
5257.79       2
10594.50      2
14175.22      2
7411.64       2
9493.95       2
8601.97       2
10647.69      2
10982.11      2
9707.18       2
14926.69      2
13350.12      2
10345.20      2
           ...
13001.52      1
20096.13      1
6649.90       1
12346.64      1
8389.08       1
11729.68      1
11135.53      1
8061.30       1
13723.26      1
12472.47      1
12536.75      1
14490.76      1
13527.28      1
20610.19      1
20435.11      1
17653.29      1
6318.65       1
8111.72       1
9871.97       1
8454.15       1
14032.14      1
7129.69       1
29835.34      1
14716.86      1
7054.33       1
8308.41       1
17718.27      1
24876.19      1
9231.98       1
5209.47       1
Name: Total Remaining Gross Monthly Income, Length: 11681, dtype: int64

In [108]:
df_imp['Total Monthly Expenses'].value_counts()

0.00        597
3029.71       4
7234.94       3
19573.70      2
7161.77       2
7135.26       2
6628.60       2
6790.74       2
4983.44       2
9778.89       2
6959.55       2
9751.87       2
7156.48       2
6783.08       2
8909.60       2
4226.48       2
15790.32      2
5248.92       2
7174.42       2
6088.82       2
10995.88      2
8147.23       2
9364.91       2
4786.94       2
3602.97       2
4812.68       2
5147.62       2
5395.61       2
5252.95       2
7107.82       2
           ...
7651.04       1
5335.31       1
3252.91       1
7413.84       1
5559.27       1
4201.06       1
8436.77       1
5581.19       1
4751.31       1
6056.71       1
6765.65       1
7253.00       1
11052.86      1
4115.37       1
3113.63       1
4074.15       1
5278.76       1
6087.85       1
7312.54       1
6524.71       1
5892.42       1
13113.39      1
7017.57       1
5037.55       1
6720.44       1
6679.97       1
4908.60       1
6782.71       1
3428.49       1
6833.74       1
Name: Total Monthly Expenses, Length: 11637, dtype: int64

In [109]:
df_imp['Primary Residence Expense'].value_counts()

0.00       652
2334.00      5
2813.71      5
2778.00      3
3500.00      3
4777.45      3
2053.00      3
5275.54      2
7826.91      2
5968.48      2
5187.00      2
4943.00      2
3901.63      2
5087.20      2
3252.86      2
3644.64      2
3485.55      2
4912.60      2
3504.59      2
3153.61      2
6349.52      2
4054.23      2
4706.09      2
4291.00      2
4537.18      2
4866.74      2
5000.00      2
5956.58      2
3304.47      2
6027.78      2
          ...
4630.43      1
4888.36      1
5490.42      1
4883.40      1
7974.10      1
2972.17      1
4162.24      1
4758.81      1
5480.32      1
7188.25      1
3723.84      1
3748.74      1
4613.92      1
2787.90      1
7566.81      1
5078.95      1
1546.69      1
2733.00      1
5311.64      1
4375.44      1
6091.31      1
5652.06      1
5585.82      1
4534.81      1
2866.38      1
6214.10      1
6909.30      1
5339.24      1
3569.27      1
3129.63      1
Name: Primary Residence Expense, Length: 11499, dtype: int64

In [112]:
df_imp['Loan Doc Type'].value_counts()

Full Doc     10981
(No Data)     1143
Full           184
Name: Loan Doc Type, dtype: int64

In [116]:
df_imp['Loan Type'].value_counts()

Conventional    12308
Name: Loan Type, dtype: int64